.create-spot-form-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    /* padding-bottom: 200px; */
    align-items: center;
    /* background-color: #F5F2DB; */
}

.create-spot-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px #F5F2DB;
    border-radius: 6px;
    border-color: #F0465D;
    width: 35%;
    margin-top: 70px;
    background-color: #0E416A;
}

.create-spot-form-input {
    display: flex;
    position: relative;
    margin: 2px;
    box-shadow: 2px 2px #708ccc;
    border-radius: 7px;
    border-color: #708ccc;
    border-style: ridge;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #22396F;
    text-align: center;
    width: 50%;
    height: 40px;
    background-color: #7FDCDC;
    bottom: 10px
}

.submit-button {
    display: flex;
    position: relative;
    padding: 10px 40px;
    margin: 10px;
    width: 15%;
    font-weight: 900;
    color: #0E416A;
    justify-content: center;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px #708ccc;
    background-color: #F0465D;
    /* margin-top: auto;
    top: 10px; */
}

.create-spot-preview {
    display: flex;
}

::placeholder {
    color: #F5F2DB;
    opacity: 1;
}