div {
    font-family: 'Exo 2', sans-serif;
    /* font-family: 'Lora', serif; */
}

p {
    display: flex;
    justify-content: center;
    width: 50%;
}

input {
    display: flex;
    margin: 2px;
    box-shadow: 2px 2px #708ccc;
    border-radius: 7px;
    border-color: #708ccc;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
    color: #22396F;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #7FDCDC
}

.image-div {
    display: flex;
    justify-content: row;
    width: 50%
}

.spot-detail-image {
    display: flex;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    border-width: 1px;
    border-style: ridge;
    border-color: #7FDCDC;
    box-shadow: 4px 4px 6px #F0465D;
}

.spot-detail-image:hover {
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 4px #0E416A;
}

.spot-title {
    font-family: 'Lora', serif;
}

.spot-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spot-detail-image-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.spot-detail-button {
    display: flex;
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 15%;
    font-weight: 900;
    justify-content: center;
    /* background-color: lightgray;b */
    border-radius: 4px;
    box-sizing: border-box;
}

.spot-detail-delete-button {
    color: #F0465D;
    box-shadow: 2px 2px #708ccc;
    background-color: #0E416A;
}

.spot-detail-edit-button {
    color: #0E416A;
    box-shadow: 2px 2px #708ccc;
    background-color: #F0465D;
}

.spot-detail-image-button {
    color: #F5F2DB;
    box-shadow: 2px 2px #708ccc;
    background-color: #298497
}

.fas {
    display: flex;
    position: relative;
    margin: auto;
}