div {
    font-family: 'Exo 2', sans-serif;
    /* font-family: 'Lora', serif; */
}

p {
    display: flex;
    justify-content: center;
    width: 50%;
}

a {
    display: flex;
    justify-content: row;
    width: 50%
}

.spot-detail-image {
    display: flex;
    width: 100%;
    height: 100%;
}

.spot-title {
    font-family: 'Lora', serif;
}

.spot-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.spot-detail-image-container {
    display: flex;
    justify-content: center;
}

.spot-detail-button {
    display: flex;
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 15%;
    font-weight: 900;
    justify-content: center;
    background-color: lightgray;
    border-radius: 4px;
    box-sizing: border-box;
}

.spot-detail-delete-button {
    color: #F0465D;
    box-shadow: 2px 2px #708ccc;
    background-color: #0E416A;
}

.spot-detail-edit-button {
    color: #0E416A;
    box-shadow: 2px 2px #708ccc;
    background-color: #F0465D;
}

.spot-detail-image-button {
    color: #F5F2DB;
    box-shadow: 2px 2px #708ccc;
    background-color: #298497
}