img {
    width: 400px;
    height: 300px;
    margin: 4px;
    border-radius: 1px;
    border-style: solid;
    border-color: #89ABE3FF;
    box-sizing: border-box;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}