.Navbar-link {
    /* color: #708ccc; */
    /* color: #89ABE3FF; */
    color: #298497;
    text-decoration: hotpink;
    font-size: x-large;
    font-family: 'Lora', serif;
    font-weight: 900;
    margin: 4px;
}

.nav-links-container {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* margin-top: 0px; */
    border-radius: 4px;
    background-color: #7FDCDC;
    width: 100%;
    height: 40px;
    /* padding: 10px; */
    top: 0px;
    border-style: ridge;
    border-width: 4px;
    border-color: #0E416A;
    box-shadow: 2px 2px #F5F2DB;
}

.profile-dropdown {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 90px;
    /* margin: 10px; */
    padding: 20px;
    border-radius: 7px;
    border-style: ridge;
    border-width: 4px;
    background-color: #F0465D;
    border-color: #298497;
}

.profile-dropdown-div {
    font-family: 'Fjalla One', sans-serif;
}

.profile-dropdown-user {
    color: #298497;
}

.profile-dropdown-email {
    color: #F5F2DB;
}

.profile-dropdown-logout-button {
    display: flex;
    position: relative;
    padding: 10px 10px;
    margin: auto;
    margin-top: 10px;
    /* width: 15%; */
    font-weight: 900;
    color: #0E416A;
    justify-content: center;
    background-color: lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px #708ccc;
    background-color: #298497;
}

.profile-button {
    display: flex;
    [] background-color: #F0465D;
}


/* Colors
#0E416A
#298497
#7FDCDC
#F5F2DB
#F0465D

#708ccc
*/


/* font-family: 'BioRhyme', serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif; */